body{
    font-family: Arial, sans-serif;
    background: rgb(2, 11, 97);
    padding: 20px;
}

h1{
    text-align: center;
}

.container {
    max-width: 600px;
    margin:auto;
    background: rgb(80, 191, 243);
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input, select, button{
    width: 100%;
    padding: 10px ;
    margin-top:10px ;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button{
    background: #007bff;
    color: white;
    border:none;
    cursor:pointer;
}

button:hover{
    background: #0056b3;
}

.list{
    margin-top: 20px;
}

.item{
    padding:10px;
    border-bottom: 1px solid #ddd;
}

.unused{
    background : #ffe5e5;
}
.total {
margin-top:20px;
font-size:20px;
font-weight:bold;
text-align:center;
}