*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#7ba8e2;
    
    padding:20px;
    color:#1c9ef5;
}

.container{
    max-width:1100px;
    margin:auto;
}

header{
    background:linear-gradient(135deg,#4f46e5,#7c3aed);
    color:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    margin-bottom:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

header h1{
    font-size:2.5rem;
}

header p{
    margin-top:10px;
}

.card{
    background:white;
    padding:20px;
    border-radius:15px;
    margin-bottom:20px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

h2{
    margin-bottom:15px;
    color:#4f46e5;
}

.form-group{
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:bold;
}

input, select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:1rem;
}

button{
    background:#4f46e5;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
    font-size:1rem;
}

button:hover{
    opacity:0.9;
}

.subscription-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:15px;
}

.subscription-card{
    background:#fafafa;
    border-left:6px solid #4f46e5;
    padding:15px;
    border-radius:12px;
    position:relative;
}

.subscription-card h3{
    margin-bottom:10px;
}

.subscription-card p{
    margin:5px 0;
}

.delete-btn{
    position:absolute;
    top:10px;
    right:10px;
    background:#ef4444;
    padding:5px 10px;
}

.delete-btn:hover{
    background:#dc2626;
}

.pause-btn{
    margin-top:10px;
}

.summary{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}

.summary-box{
    flex:1;
    min-width:200px;
    background:#eef2ff;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.summary-box h3{
    margin-bottom:10px;
    color:#4338ca;
}

.reminder{
    color:#dc2626;
    font-weight:bold;
}

.active{
    color:green;
    font-weight:bold;
}

.paused{
    color:red;
    font-weight:bold;
}

.monthly-box{
    margin-top:15px;
    background:#ede9fe;
    padding:15px;
    border-radius:10px;
    text-align:center;
}

.monthly-box h3{
    color:#5b21b6;
    margin-bottom:10px;
}

.monthly-total{
    font-size:2rem;
    font-weight:bold;
}